<body>
    {{> navbar}}
<main class="container main-wrap">
    
    <div class="col-md-12 blog-main">
        {{#each posts as |post|}}
         <div class="blog-post">  
             <h2>{{post.title }}</h2>
             <p>{{post.post_text}}</p>
             <small>author: {{post.author}}</small>
         </div>
         <hr>
        {{/each}}
    </div>
    
    
</main><!-- /.container -->
</body>