{{> navbar}}
<main class="container main-wrap">
    <h1>Регистрация</h1>
    <form method="post" action="/register">
        <div class="form-group">
            <label for="firsname">Firstname</label>
            <input type="text" class="form-control" id="firsname" aria-describedby="emailHelp" placeholder="Enter firsname" name="firstname">
        </div>
        <div class="form-group">
            <label for="secondname">Secondname</label>
            <input type="text" class="form-control" id="secondname" placeholder="Enter secondname" name="secondname">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="pass" placeholder="Enter password" name="pass">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
</main>