<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    
    <title>{{ title }}</title>
</head>
<body>
    {{> navbar}}
<main class="container main-wrap">
    <p>Вы успешно зарегестрировались</p>
    <a href="/login">Зайти в личный кабинет</a>
    <br>
    
    
</main>
 
</body>
</html>